body{
    background-color: #222223;
}
#interprete{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}
#consola{
    height: 100vh;
    width: 49vw;
    background-color: #ffffff;
}

.logLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.logLine p {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonBox{
    display: flex;
    flex-direction: column;
}

textarea{
    height: 100vh;
    width: 49vw;
}
